@page "/category-management"
@using home_pisos_vinilicos.Application
@using home_pisos_vinilicos.Application.DTOs
@using home_pisos_vinilicos.Application.Services
@using home_pisos_vinilicos.Domain.Entities

@inject CategoryService _categoryService
@inject SubCategoryService _subCategoryService


<head>
    <link href="css/categoryManagement.css" rel="stylesheet" />
</head>

<div class="container-management-categories">
    <h3 class="title-categories">Gestión de Categorías</h3>

<div>
        <button @onclick="AddCategory" class="button-add">Añadir Categoría</button>
</div>

    @if (isModalVisible)
    {
        <div class="modal-overlay">
            <EditForm Model="@categoryModel" OnValidSubmit="HandleValidSubmit" class="edit-form">
                <div class="form-group">
                    <label>Nombre</label>
                    <InputText class="form-control" @bind-Value="categoryModel.Name" />
                    <ValidationMessage For="() => categoryModel.Name" />
                </div>
                <div class="form-group">
                    <label>Descripción</label>
                    <InputText class="form-control" @bind-Value="categoryModel.Description" />
                    <ValidationMessage For="() => categoryModel.Description" />
                </div>
                <div class="">
                    <label>¿Destacado?</label>
                    <InputCheckbox  @bind-Value="categoryModel.IsFeatured" />
                </div>

                <div class="container-buttons">
                    <button type="submit" class="btn btn-primary">Guardar</button>
                    <button type="button" class="btn btn-secondary" @onclick="CloseModal">Cancelar</button>
                </div>
            </EditForm>
        </div>
    }

<table class="table table-categories">
    <thead>
        <tr>
            <th>Nombre</th>
            <th>Descripción</th>
                <th>Número de Subcategorías</th>
            <th>Acciones</th>
        </tr>
    </thead>
        <tbody>
            @if (categories != null)
            {
                @foreach (var category in categories)
                {
                    var subCategoryCount = subCategoryCounts.ElementAtOrDefault(categories.IndexOf(category));

                    <tr>
                        <td>@category.Name</td>
                        <td>@category.Description</td>
                        <td>@subCategoryCount</td>
                        <td class="buttons-edition">
                            <button class="btn btn-sm" @onclick="() => EditCategory(category)">
                                <i class="fas fa-pencil-alt"></i>
                            </button>
                            <button class="btn btn-sm" @onclick="() => ToggleFeatured(category)">
                                @if (category.IsFeatured)
                                {
                                    <i class="fas fa-star"></i>
                                }
                                else
                                {
                                    <i class="far fa-star"></i>
                                }
                            </button>
                            <button class="btn btn-danger btn-sm" @onclick="() => DeleteCategory(category.IdCategory)">
                                <i class="fas fa-trash"></i>
                            </button>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>

    <h3 class="title-categories">Categorías Destacadas</h3>
    <table class="table table-featured-categories">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Descripción</th>
               @*  <th>Número de Subcategorías</th>
                <th>Acciones</th> *@
            </tr>
        </thead>
        <tbody>
            @if (categories != null)
            {
                @foreach (var category in categories.Where(c => c.IsFeatured))
                {
                    <tr>
                        <td>@category.Name</td>
                        <td>@category.Description</td>
@*                         <td>PROXIMAMENTE</td>
 *@                       @*  <td class="buttons-edition">
                            <button class="btn btn-sm" @onclick="() => EditCategory(category)">
                                <i class="fas fa-pencil-alt"></i>
                            </button>

                            <button class="btn btn-danger btn-sm" @onclick="() => DeleteCategory(category.IdCategory)">
                                <i class="fas fa-trash"></i>
                            </button>
                        </td> *@
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
@code {
    private List<Category> categories = new();
    private Category currentCategory = new();
    private CategoryDto categoryModel = new();
    private bool isAddingCategory = false;
    private bool isEditingCategory = false;
    private const int MaxFeaturedCategories = 2; 
    private List<int> subCategoryCounts = new();
    private bool isModalVisible = false;



    protected override async Task OnInitializedAsync()
    {
        await LoadCategories();
        await LoadSubCategoryCounts();
    }

    private async Task LoadCategories()
    {
        categories = await _categoryService.GetAllAsync(); 
    }

    private async Task LoadSubCategoryCounts()
    {
        subCategoryCounts.Clear();
        if (categories != null)
        {
            foreach (var category in categories)
            {
                var count = await GetSubCategoryCount(category.IdCategory);
                subCategoryCounts.Add(count);
            }
        }
    }

    protected async Task ToggleFeatured(Category category)
    {
        try
        {
            var featuredCategoriesCount = GetFeaturedCategoriesCount();

            if (category.IsFeatured)
            {
                category.IsFeatured = false;
            }
            else
            {
                if (featuredCategoriesCount >= MaxFeaturedCategories)
                {
                    ShowAlert("Ya hay 2 categorías destacadas.");
                    return;
                }
                category.IsFeatured = true;
            }

            var categoryDto = new CategoryDto
                {
                    IdCategory = category.IdCategory,
                    Name = category.Name,
                    Description = category.Description,
                    IsFeatured = category.IsFeatured,
                    IdSubCategory = category.IdSubCategory
                };

            await _categoryService.UpdateAsync(categoryDto);
            await LoadCategories();
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error al destacar la categoría: {ex.Message}");
            ShowAlert($"Error al destacar la categoría: {ex.Message}");
        }
    }
    private void ShowEditCategoryModal(Category category)
    {
        categoryModel = new CategoryDto
            {
                IdCategory = category.IdCategory,
                Name = category.Name,
                Description = category.Description,
                IsFeatured = category.IsFeatured
            };
        isModalVisible = true;
    }

    private void ShowAddCategoryModal()
    {
        categoryModel = new CategoryDto();
        isModalVisible = true;
    }

    private void CloseModal()
    {
        isModalVisible = false;
    }

    private async Task HandleValidSubmit()
    {
        if (string.IsNullOrEmpty(categoryModel.IdCategory))
        {
            await _categoryService.SaveAsync(categoryModel);
        }
        else
        {
            await _categoryService.UpdateAsync(categoryModel);
        }

        await LoadCategories();
        isModalVisible = false;
    }

    private int GetFeaturedCategoriesCount()
    {
        return categories.Count(c => c.IsFeatured);
    }

    private void ShowAlert(string message)
    {
        Console.WriteLine(message);
    }

 
    private void AddCategory()
    {
        currentCategory = new Category();
        isAddingCategory = true;
        isEditingCategory = false;
        ShowAddCategoryModal(); 
    }

    private void EditCategory(Category category)
    {
        currentCategory = category;
        isAddingCategory = false;
        isEditingCategory = true;
        ShowAddCategoryModal();

    }

    private async Task SaveCategory()
    {
        var categoryDto = new CategoryDto
            {
                IdCategory = currentCategory.IdCategory,
                Name = currentCategory.Name,
                Description = currentCategory.Description,
                IsFeatured = currentCategory.IsFeatured,
                IdSubCategory = currentCategory.IdSubCategory
            };

        if (isAddingCategory)
        {
            await _categoryService.SaveAsync(categoryDto);
        }
        else
        {
            await _categoryService.UpdateAsync(categoryDto);
        }

        await LoadCategories();
        isAddingCategory = false;
        isEditingCategory = false;
    }


    private void Cancel()
    {
        isAddingCategory = false;
        isEditingCategory = false;
    }

    private async Task DeleteCategory(string idCategory)
    {
        await _categoryService.DeleteAsync(idCategory);
        await LoadCategories();
    }

    private async Task ToggleFeatured(CategoryDto category, bool isFeatured)
    {
        try
        {
            category.IsFeatured = isFeatured;
            await _categoryService.UpdateAsync(category);
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error al destacar la categoría: {ex.Message}");
        }
    }

    private async Task<int> GetSubCategoryCount(string categoryId)
    {
        return await _subCategoryService.CountSubCategoriesByCategoryIdAsync(categoryId);
    }
}

